
/* Firefox workaround in order to display correctly the leters _ y g p q EVERY INPUT SHOULD BE TESTED */
.custom-input {                  
    div.mat-form-field-infix {
      padding: .3em 0;
      input.mat-input-element {
        height: 17px;
        vertical-align: top;
      }
    }
 }

/* Firefox workaround in order to display correctly the leters _ y g p q INPUT SHOULD BE TESTED */
div.mat-form-field-wrapper {
    padding-bottom: 1.15em;
}

/* Firefox workaround in order to display correctly the leters _ y g p q INPUT SHOULD BE TESTED */
.custom-select {
    div.mat-input-infix {
      padding: .3em 0;
    }
    div.mat-select-value{
      height: 17px;
      vertical-align: top;
    }
}

mat-form-field {
    &.input-col-15 {
        width: 15% !important;
    }
}

mat-form-field {
    &.input-col-30 {
        width: 30% !important;
    }
}

mat-form-field {
    &.input-col-45 {
        width: 45% !important;
    }
}

mat-form-field {
    &.input-col-60 {
        width: 60% !important;
    }
}

mat-form-field {
    &.input-col-75 {
        width: 75% !important;
    }
}

mat-form-field {
    &.input-col-90 {
        width: 90% !important;
    }
}

.vertical-radio-group {
    display: inline-flex;
    flex-direction: column;

    .radio-btn {
        margin: 5px;
    }
}

.indent {
    margin-left: 30px;
}

.container-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .space-between {
        justify-content: space-between;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.flex-start {
        justify-content: flex-start;
    }

    &.flex-end {
        justify-content: flex-end !important;
    }

    &.flex-center {
        justify-content: center;
    }
}

.container-vertical {
    display: flex;
    flex-direction: column;

    &.flex-start {
        justify-content: flex-start;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.account-settings {
        max-width: 800px; 
    }

    .caption {
        width: 100%;
        padding-bottom: 10px;
    }

    &.flex-center {
        justify-content: center;
    }
}

.inline-input {
  mat-form-field {
    width: 145px !important;
    margin-right: 10px;
  }
}


